
Yatzy/.vs/Yatzy/v16/.suo

Yatzy/Yatzy/obj/project.nuget.cache

Yatzy/Yatzy/obj/Debug/netcoreapp3.1/Yatzy.assets.cache

Yatzy/Yatzy/obj/Debug/netcoreapp3.1/Yatzy.csprojAssemblyReference.cache

Yatzy/Yatzy/obj/project.assets.json

Yatzy/Yatzy/obj/Yatzy.csproj.nuget.dgspec.json

Yatzy/.vs/Yatzy/DesignTimeBuild/.dtbcache.v2
